---

---

<section class="relative py-16 lg:py-20">
  <div class="w-full md:max-w-5xl lg:max-w-7xl mx-auto px-4 md:px-24 lg:px-20">
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 gap-y-12 md:gap-y-12 md:gap-8 max-w-[1192px] mx-auto"
    >
      <!-- Stat 1 -->
      <div class="flex flex-col gap-1 text-center">
        <p
          class="text-[50px] font-semibold leading-[1.15] tracking-[-0.22px] text-[#313131]"
        >
          5 min
        </p>
        <p class="text-[18px] font-normal leading-[1.4] text-[#313131]">
          Time to Root Cause
        </p>
      </div>

      <!-- Stat 2 -->
      <div class="flex flex-col gap-1 text-center">
        <p
          class="text-[50px] font-semibold leading-[1.15] tracking-[-0.22px] text-[#313131]"
        >
          92%
        </p>
        <p class="text-[18px] font-normal leading-[1.4] text-[#313131]">
          Actionable Findings
        </p>
      </div>

      <!-- Stat 3 -->
      <div
        class="flex flex-col gap-1 text-center col-span-1 md:col-span-2 lg:col-span-1"
      >
        <p
          class="text-[50px] font-semibold leading-[1.15] tracking-[-0.22px] text-[#313131]"
        >
          200,000+
        </p>
        <p class="text-[18px] font-normal leading-[1.4] text-[#313131]">
          Production-Grade Investigations
        </p>
      </div>
    </div>
  </div>
</section>
